# All platforms:
Library
Temp
Obj
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

Temp/CaseSensitiveTest
Temp/UnityLockfile
Temp/__EditModeScene
Assets/TK2DROOT/tk2d/Code/Bomberman/SimpleJson.dll.meta
Assets/TK2DROOT/tk2d/Code/Bomberman/SocketIO.dll.meta
Assets/TK2DROOT/tk2d/Code/Bomberman/SocketIO.pdb.meta
Assets/TK2DROOT/tk2d/Code/Bomberman/SuperSocket.ClientEngine.Common.dll.meta
Assets/TK2DROOT/tk2d/Code/Bomberman/SuperSocket.ClientEngine.Core.dll.meta
Assets/TK2DROOT/tk2d/Code/Bomberman/SuperSocket.ClientEngine.Protocol.dll.meta
Assets/TK2DROOT/tk2d/Code/Bomberman/SuperSocket.ClientEngine.Proxy.dll.meta
Assets/TK2DROOT/tk2d/Code/Bomberman/WebSocket4Net.dll.meta
Assets/TK2DROOT/tk2dUI_demo/Assets/3D.meta
.gitignore.orig
Assets/TK2DROOT/tk2d/Editor/tk2dExternal.dll
Assets/TK2DROOT/tk2d/Editor/tk2dSkin.dll
build/debug/native-ios/index.html
build/debug/native-ios/native-ios.js
build/debug/native-ios/native-ios.manifest
build/debug/native-ios/spritesheets/cache.txt
build/debug/native-ios/spritesheets/map.json
build/debug/native-ios/spritesheets/spritesheetSizeMap.json
sdk
